<div class="container">
  <div class="row">
    <div class="container fluid ">
      <h2>Prancing Ponies Trading</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="panel panel-primary">
     <div class="panel-heading">Two Moving Averages</div>
      <div class= "col-sm">
          <div class="panel-body">
            <div>
              <h3>Please enter values</h3>
            </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="inputStock" class="col-sm-2 col-form-label">Stock</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputStock" [(ngModel)]= "inputStock">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputPrice" [(ngModel)]= "inputPrice">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputVolume" class="col-sm-2 col-form-label">Volume</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputVolume" [(ngModel)]= "inputVolume">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
               
              <div class="row">
                <h3>Exit Criteria</h3>
              </div> 
                  <div class="row">
                      <div class="form-group row">
                        <label for="maximumPrice" class="col-sm-2 col-form-label">Maximum Price</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="maximumPrice" [(ngModel)]= "maximumPrice">
                        </div>
                      </div> 
                  </div>
                  <div class="row">
                      <div class="form-group row">
                        <label for="maximumVolume" class="col-sm-2 col-form-label">Maximum Volume</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="maximumVolume" [(ngModel)]= "maximumVolume">
                        </div>
                      </div>                      
                  </div>
                  <div class="row">
                      <div class="form-group row">
                        <label for="maximumTime" class="col-sm-2 col-form-label">Maximum Time</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="maximumTime" [(ngModel)]= "maximumTime">
                        </div>
                      </div>                      
                  </div>
                  <input class="btn btn-primary" type="submit" value="Submit">
                   <!--(click)='handleSubmit()'-->
              </div>
          </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="row">
      <div class="form-group row">
       
    </div>                      
  </div>
      <!-- <select [(ngModel)]='whichTrade'> 

        <option *ngFor='let item of choices'>{{item.cat}}</option>

      </select> -->
      <input class="btn btn-primary" *ngIf='whichTrade=="AllTrades" ' type="submit" value="Show Trades" (click)='handleClick()'>

        <div class="card my-5">
          <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Stock Ticker</th>
                  <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Last Change </th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of model| slice:0:10; let i=index ">
                  <td ng-repeat="item in model | limitTo : -10" >{{ item.id }}</td>
                  <td ng-repeat="item in model | limitTo : -10" >{{ item.stockTicker }}</td>
                  <td ng-repeat="item in model | limitTo : -10" >{{ item.tradeType }}</td>
                  <td ng-repeat="item in model | limitTo : -10" >{{ item.price }}</td>
                  <td ng-repeat="item in model | limitTo : -10" >{{ item.size }}</td>
                  <td ng-repeat="item in model | limitTo : -10" >{{ item.lastStateChange | date: 'medium' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


            

  </div>

</div>



